.container1{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

}
.contact{
  
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  background-size: cover;
}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h5{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
}
.contact .content p{
  font-weight: 300;
  color: black;
}
.container2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px ;
}
.container2 .contact-info{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.container2 .contact-info .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container2 .contact-info .box .icon{
  min-width: 60px;
  height: 60px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container2 .contact-info .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container2 .contact-info .box .text h3{
  font-weight: bold;
}
.contactform{
  width: 40%;
  padding: 40px;
  background: #E2DFD2;
}
.contactform h2{
  color: #333;
  font-size: 30px;
  font-weight: 500;
}
.contactform .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  background: #E2DFD2;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactform .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}